.App {
  margin-top: 20px;
}

#root {
  --bg-color-1: #45494f;
  --bg-color-2: #8c8c8c;

  --border-color-1: #333333;

  --accent-color-1: #c49e15;

  --highlight-color-1: #777777;
  --highlight-color-2: #909090;

  background-color: var(--bg-color-1);
}
