.bt-header {
  display: flex;
  align-items: center;
  height: 36px;
  margin-bottom: 20px;
  background-color: var(--highlight-color-3);
}

.bt-header .bt-logo {
  margin: 0px 4px;
  font-size: 24px;
  color: var(--accent-color-2);
}

.bt-header .beta-tag {
  height: 28px;
  padding: 0px 4px;

  font-size: 24px;
  line-height: 28px;
  color: var(--highlight-color-1);
}

.bt-header .player-search {
  margin-left: 30px;
  height: 100%;
}
