.bt-tooltip {
  background-color: var(--bg-color-1);
  opacity: 0.8;
  border: none;
  margin: 10px 0px 0px 10px;
}

.bt-tooltip .text {
  color: var(--accent-color-1);
  opacity: 1.0;
  margin: 0px;
  padding: 5px;
}

.bt-tooltip .title {
  margin: 0;
  padding-bottom: 3px;
}

.bt-tooltip p {
  margin: 0;
}

.bt-tooltip p + p {
  padding-top: 8px;
}
