.bt-tooltip .leaflet-popup-content-wrapper,
.bt-tooltip .leaflet-popup-tip {
  opacity: 0.9;
  background-color: var(--bg-color-1);
}

.bt-tooltip .leaflet-popup-content {
  margin: 10px;
}

.bt-tooltip .title {
  margin: 0;
  padding-bottom: 3px;
}

.bt-tooltip p {
  margin: 0;
}

.bt-tooltip p + p {
  padding-top: 5px;
}
