.player-search {
  display: flex;
  width: 300px;
  background-color: var(--bg-color-2);
}

.player-search .shard-select {
  background-color: red;
}

.player-search .shard-select button {
  border-radius: 0;
  background-color: red;
}

.player-search .name-input-container {
  display: flex;
  border-left: inherit;
}

.player-search .name-input,
.player-search .search-button,
.player-search .search-button p {
  background-color: #00000000;
  color: var(--highlight-color-3);
  border-radius: 0;
}

.player-search .name-input {
  box-shadow: none;
  width: auto;
  border-left: 1px solid var(--highlight-color-4);
}

.player-search .search-button[disabled] {
  background-color: #00000000;
}
