.player {
  margin-left: auto;
  margin-right: auto;
  width: 500px;
  display: grid;
  grid-template-rows: 40px auto;
  grid-template-columns: auto 120px;
}

.player h2 {
  margin: 0;
}

.player .shard-select {
  float: right;
}

.player .form-control {
  width: auto;
}

.player .matches {
  grid-column: 1 / 3;
}
