.player-match-summary {
  width: 300px;
  /*text-decoration: none;*/
}

a * {
  text-decoration: none;
}

.player-match-summary ul {
  list-style-type: none;
}

.player-match-summary .left-block {
  float: left;
}

.player-match-summary .right-block {
  float: right;
}
