.roster-match-summary {
    border: none;
    padding-bottom: 10px;
    margin-bottom: 10px;
}

.roster-match-summary .placement {
    float: left;
}

.roster-table th,
.roster-table td {
    padding-left: 40px;
}
