@import 'styles/colors.scss';

.match {
  display: flex;
  flex-direction: column;
  width: 500px;
  height: 100%;
  margin: 0 auto;
  // padding-top: 32px;
}

.matchInfo {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(2, auto);
}

.right {
  text-align: right;
}

.table {
  margin-top: 12px;
  overflow-y: scroll;
  flex: 1 1 250px;
  border: none;
  background-color: $color-background-dark;
}
