@import 'styles/colors.scss';

.rosterMatchSummary {
  display: flex;
  border: none;
  border-radius: 0;
  padding: 10px 0;
  margin-bottom: 0;
  background-color: $color-background-dark;
}

.rosterMatchSummary + .rosterMatchSummary {
  border-top: 1px solid $color-border-0;
}

.placement {
  align-self: center;
  width: 70px;
  /*margin: 10px 30px 0 0;*/
  margin-right: 30px;
  font-size: 24px;
  text-align: center;
}

.rosterTable th,
.rosterTable td {
  padding-right: 40px;
  color: $color-primary-1;
}
