@import 'styles/colors.scss';

.button {
  height: 30px;
  color: $color-text-dark;
  border: none;
  border-radius: 0;
  box-shadow: none;
}

.button:enabled:hover {
  color: $color-background-dark;
}

.background {
  background-color: $color-primary;
}

.noBackground,
.noBackground:hover {
  background-color: #00000000;
}
