@import 'styles/colors.scss';

.loading {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

.loadingText {
  text-align: center;
}
