@import 'styles/colors.scss';

.range {
  $slider-bg-color: $color-background-dark;
  $slider-accent-color: $color-primary;

  :global(.rc-slider-rail),
  :global(.rc-slider-dot),
  :global(.rc-slider-dot-active),
  :global(.rc-slider-handle) {
    background-color: $slider-bg-color;
  }

  :global(.rc-slider-track) {
    background-color: $slider-accent-color;
  }

  :global(.rc-slider-dot) {
    border-color: $slider-bg-color;
  }

  :global(.rc-slider-dot-active),
  :global(.rc-slider-handle) {
    border-color: $slider-accent-color;
  }

  :global(.rc-slider-mark-text) {
    color: #ddd;
    text-shadow: black 1px 1px;
    /* Janky stuff to make the slider text line up but not overflow */
    width: auto !important;
    margin-left: -10px !important;
  }
}
