@import 'styles/colors.scss';

.logo,
.logo:hover,
.logo:focus,
.logo:active {
  color: $color-primary-text-highlight;
  font-size: 24px;
  font-weight: bold;
  font-style: italic;
  text-decoration: none;
}
