@import 'styles/colors.scss';

.header {
  display: flex;
  align-items: center;
  height: 40px;
  background-color: $color-background-medium;
}

.logo {
  margin: 0px 24px;
}

.gitlabIcon {
  width: 40px;
  height: 40px;
  margin-left: auto;
  margin-right: 12px;
  padding: 6px;

  img {
    width: 100%;
    height: 100%;
  }
}
