@import 'styles/colors.scss';

.playerSearch {
  display: flex;
  height: 32px;
  border-radius: 3px;
}

:global(#style-override) .playerSearch :global(.btn-default) {
  height: 100%;
  border-radius: 0;
}

.nameInputContainer {
  display: flex;
  border-left: inherit;
  background-color: $color-primary;
  color: $color-background-dark;
}

.nameInput {
  height: 100%;
  box-shadow: none;
  width: 240px;
  border-radius: 0;
}
