.bt-tooltip .leaflet-popup-content-wrapper,
.bt-tooltip .leaflet-popup-tip {
  opacity: 0.9;
  background-color: var(--bg-color-1);
}

.bt-tooltip .leaflet-popup-content {
  margin: 10px;
}

.bt-tooltip .title {
  margin-bottom: 5px
}

.bt-tooltip .tooltip-line {
  display: flex;
  align-items: center;
  color: var(--accent-color-1);
}

.bt-tooltip .tooltip-line + .tooltip-line {
  margin-top: 3px;
}

.bt-tooltip .tooltip-line p {
  margin: 0 0 0 3px;
}
