interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.playbattlegrounds.com/shards/pc-na/matches/5cf3ed16-6383-4172-bb60-8ead540d1245
  response:
    body: {string: '{"data":{"type":"match","id":"5cf3ed16-6383-4172-bb60-8ead540d1245","attributes":{"isCustomMatch":false,"duration":1380,"stats":null,"titleId":"bluehole-pubg","mapName":"Savage_Main","createdAt":"2018-07-11T16:46:57Z","gameMode":"squad-fpp","shardId":"pc-eu","tags":null},"relationships":{"rosters":{"data":[{"type":"roster","id":"a8ab57dc-74f6-4dd3-bfc3-2d5fae49d751"},{"type":"roster","id":"ccc8c721-c64c-47ec-bc99-0d8300b83dac"},{"type":"roster","id":"b914a4f6-7419-459e-9919-64d017fbe86f"},{"type":"roster","id":"f1960896-c1ea-41eb-a0ad-b691b789de2d"},{"type":"roster","id":"26c91c51-35ee-41be-8392-ace092799545"},{"type":"roster","id":"61ce6e79-1e09-454b-a1dc-5c5fbe8e3387"},{"type":"roster","id":"7b86bf32-50dd-4859-9f5b-48fe11d26096"},{"type":"roster","id":"0c6769eb-e735-4490-9bcc-ec43e82d97[...]
[...]
