interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.playbattlegrounds.com/shards/pc-eu/players?filter%5BplayerNames%5D=BreaK
  response:
    body: {string: '{"data":[{"type":"player","id":"account.a36bed11ed214557b0ddef9ef1a56d07","attributes":{"stats":null,"titleId":"bluehole-pubg","shardId":"pc-eu","createdAt":"2018-07-14T21:54:24Z","updatedAt":"2018-07-14T21:54:24Z","patchVersion":"","name":"BreaK"},"relationships":{"assets":{"data":[]},"matches":{"data":[{"type":"match","id":"5cf3ed16-6383-4172-bb60-8ead540d1245"},{"type":"match","id":"e7147f03-995d-4c86-b657-945653053eac"},{"type":"match","id":"cdd1ce5d-a523-4256-87e9-da86c8b5bb62"}]}},"links":{"self":"https://api.playbattlegrounds.com/shards/pc-eu/players/account.a36bed11ed214557b0ddef9ef1a56d07","schema":""}}],"links":{"self":"https://api.playbattlegrounds.com/shards/pc-eu/players?filter[playerNames]=BreaK"},"meta":{}}'}
    headers: {Connection: keep-alive, Content-Encoding: gzip, Content-Length: '2045',
      Content-Type: application/json, Date: 'Sat, 14 Jul 2018 21:54:24 GMT', Vary: Accept-Encoding,
      Via: 1.1 d0aba1ed008065dfa80f3b92c85f7e52.cloudfront.net (CloudFront), X-Amz-Cf-Id: 36FlwaiHPRgrRXaBla6uiWTn05ebgr2XWPFuxUwANnQP-yuy-wERsw==,
      X-Cache: Miss from cloudfront, X-Ratelimit-Limit: '50', X-Ratelimit-Remaining: '49',
      X-Ratelimit-Reset: '1531605324', X-Request-Id: aec87430-7540-4386-9f52-de8c71284a50}
    status: {code: 200, message: OK}
    url: !!python/object/new:yarl.URL
      state: !!python/tuple
      - !!python/object/new:urllib.parse.SplitResult [https, api.playbattlegrounds.com,
        /shards/pc-eu/players, filter%5BplayerNames%5D=BreaK, '']
- request:
    body: null
    headers:
    method: GET
    uri: https://api.playbattlegrounds.com/shards/pc-eu/players/account.a36bed11ed214557b0ddef9ef1a56d07
  response:
    body: {string: '{"data":{"type":"player","id":"account.a36bed11ed214557b0ddef9ef1a56d07","attributes":{"stats":null,"titleId":"bluehole-pubg","shardId":"pc-eu","patchVersion":"","name":"BreaK"},"relationships":{"assets":{"data":[]},"matches":{"data":[{"type":"match","id":"5cf3ed16-6383-4172-bb60-8ead540d1245"},{"type":"mat[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://api.playbattlegrounds.com/shards/pc-na/matches/5cf3ed16-6383-4172-bb60-8ead540d1245
  response:
    body: {string: '{"data":{"type":"match","id":"5cf3ed16-6383-4172-bb60-8ead540d1245","attributes":{"isCustomMatch":false,"duration":1380,"stats":null,"titleId":"bluehole-pubg","mapName":"Savage_Main","createdAt":"2018-07-11T16:46:57Z","gameMode":"squad-fpp","shardId":"pc-eu","tags":null},"relationships":{"rosters":{"data":[{"type":"roster","id":"a8ab57dc-74f6-4dd3-bfc3-2d5fae49d751"},{"type":"roster","id":"ccc8c721-c64c-47ec-bc99-0d8300b83dac"},{"type":"roster","id":"b914a4f6-7419-459e-9919-64d017fbe86f"},{"type":"roster","id":"f1960896-c1ea-41eb-a0ad-b691b789de2d"},{"type":"roster","id":"26c91c51-35ee-41be-8392-ace092799545"},{"type":"roster","id":"61ce6e79-1e09-454b-a1dc-5c5fbe8e3387"},{"type":"roster","id":"7b86bf32-50dd-4859-9f5b-48fe11d26096"},{"type":"roster","id":"0c6769eb-e735-4490-9bcc-ec43e82d97[...]
[...]
