@import 'styles/colors.scss';

.tooltip {
  :global(.leaflet-popup-content-wrapper),
  :global(.leaflet-popup-tip) {
    opacity: 0.9;
    background-color: $color-background-dark;
  }

  :global(.leaflet-popup-content) {
    margin: 10px;
  }
}

.title {
  margin-bottom: 5px;
}

.tooltipLine {
  display: flex;
  align-items: center;
  color: $color-primary;
}

.tooltipLine + .tooltipLine {
  margin-top: 3px;
}

.tooltipLine p {
  margin: 0 0 0 3px;
}
