@import 'styles/colors.scss';

.timeRange {
  z-index: 500;
  position: absolute;
  top: 10px;
  left: 30px;
  width: calc(100% - 60px);
  height: 39px;
}

/* The tooltip is rendered outside the root div so we can't scope it with .overview-time-range */
:global(.rc-slider-tooltip) {
  z-index: 500;
}
