@import 'styles/colors.scss';

.overviewFilterList {
  padding-top: 3px;
  width: 350px;
  /*height: 100%;*/
  background-color: inherit;
  color: $color-primary-highlight;
  overflow-y: scroll;

  label {
    font-weight: 400;
    /* CSS is siiiiiick */
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none;
  }

  label:hover,
  label:active {
    box-shadow: $hover-shadow-light;
    border-radius: 2px;
  }

  :global(.rct-icon) {
    font-family: Font Awesome\ 5 Free;
    font-weight: 900;
  }

  :global(.rct-icon-uncheck::before) {
    font-weight: 400;
    content: '\f0c8';
  }

  :global(.rct-icon-half-check::before) {
    font-weight: 400;
    content: '\f14a';
    opacity: 0.5;
  }

  :global(.rct-icon-check::before) {
    font-weight: 400;
    content: '\f14a';
  }

  :global(.rct-node-icon) {
    color: $color-primary-highlight;
  }
}
