@import 'styles/colors.scss';

.drawerContainer {
  position: relative;
  background-color: $color-background-dark;
}

.drawer {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.matchLink {
  display: block;
  height: 40px;
  line-height: 100%;
  padding: 8px 0px;

  font-size: 24px;
  text-decoration: none;
  text-align: center;

  border-bottom: 1px $color-border-0 solid;

  &:hover {
    box-shadow: $hover-shadow-light;
  }
}

.drawerButton {
  z-index: 500;
  position: absolute;
  bottom: 10px;
  right: -34px;
}

// We need the extra selectors to override other styles
:global(#style-override) .drawerContainer .drawerButton {
  border-radius: 3px;
  width: 24px;
  height: 24px;
  padding: 3px 4px;
}
