@import 'styles/colors.scss';

.home {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.recentMatchesLabel {
  text-align: center;
  margin-bottom: 4px;
}

.recentMatches {
  margin-top: 20px;
  width: 600px;
}
