@import 'styles/colors.scss';

.player {
  margin-left: auto;
  margin-right: auto;
  width: 750px;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.table {
  margin-top: 12px;
  flex: 1 1 250px;
  border: none;
  background-color: $color-background-dark;
}
