.overview {
  width: 100%;
  height: 100vh;
  display: flex;
}

.overview .left-container {
  display: flex;
  flex-direction: column;
  background-color: var(--bg-color-1);
}

.overview .match-link {
  width: 300px;
  height: 40px;
  line-height: 100%;
  padding-top: 6px;

  color: var(--accent-color-1);

  font-size: 24px;
  text-decoration: none;
  text-align: center;

  border-bottom: 1px var(--border-color-1) solid;
}

.overview .match-link:hover {
  box-shadow: var(--hover-shadow-light);
}

.overview .filter-list {
  padding-top: 3px;
  height: 100%;
  background-color: inherit;
  overflow-y: scroll;
}

.overview .map-container {
  position: relative;
  width: 100%;
}

.overview .drawer-button {
  z-index: 500;
  position: absolute;
  bottom: 10px;
  left: 10px;

  width: 24px;
  height: 24px;
  padding: 3px 4px;
}

.overview .time-range {
  z-index: 500;
  position: absolute;
  top: 10px;
  left: 30px;
  width: calc(100% - 60px);
  height: 39px;

  --slider-bg-color: var(--bg-color-1);
  --slider-accent-color: var(--accent-color-1);
}

.overview .rc-slider-rail,
.overview .rc-slider-dot,
.overview .rc-slider-dot-active,
.overview .rc-slider-handle {
  background-color: var(--slider-bg-color);
}

.overview .rc-slider-track {
  background-color: var(--slider-accent-color);
}

.overview .rc-slider-dot {
  border-color: var(--slider-bg-color);
}

.overview .rc-slider-dot-active,
.overview .rc-slider-handle {
  border-color: var(--slider-accent-color);
}

.overview .rc-slider .rc-slider-mark-text {
  color: #ddd;
  text-shadow: black 1px 1px;
  /* Janky stuff to make the slider text line up but not overflow */
  width: auto !important;
  margin-left: -10px !important;
}

.overview .game-map {
  background-color: var(--bg-color-2);
}

.overview .game-map .leaflet-top {
  /* Move the zoom buttons down a bit */
  top: 40px;
}

.overview .drawer-button,
.overview .game-map .leaflet-control-zoom a {
  color: var(--bg-color-1);
}
