@import 'styles/colors.scss';

#style-override .btn {
  height: 30px;
  border: none;
}

#style-override .btn-default {
  background-color: $color-primary;
  color: $color-text-dark;
}

#style-override .btn-default:hover,
#style-override .btn-default:focus {
  background-color: $color-primary-highlight;
}

#style-override .btn-default:active,
#style-override .btn-default.active {
  box-shadow: none;
  background-color: $color-primary-3;
  color: $color-text-light;
}
