@import 'styles/colors.scss';

#style-override .dropdown.open > .btn.dropdown-toggle {
  box-shadow: $hover-shadow-dark, $active-shadow-dark;
}

#style-override .dropdown > .btn.dropdown-toggle:hover {
  box-shadow: $hover-shadow-dark;
}

#style-override .dropdown-menu {
  background-color: $color-background-dark;
}

#style-override .dropdown-menu a {
  background-color: inherit;
  color: inherit;
  text-decoration: none;
}

#style-override .dropdown-menu a:hover,
#style-override .dropdown-menu a:focus {
  background-color: $color-primary-highlight;
  color: $color-primary-text-highlight;
}
