@import 'styles/colors.scss';

#style-override {
  .form-control {
    background-color: $color-primary;
    color: $color-text-dark;
    box-shadow: none;
  }

  .form-control::placeholder {
    color: $color-background-medium;
  }
}
