@import 'styles/colors.scss';

#style-override .panel-heading {
  background-color: $color-primary-1;
  border: none;
  border-radius: 0;
}

#style-override .panel-heading * {
  color: $color-text-dark;
}

#style-override .panel-body {
  background-color: $color-primary-0;
}
#style-override .panel-body * {
  color: $color-text-dark;
}
