.player-header {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-bottom: 15px;
}

.player-header .shard-select {
  justify-self: end;
}

.player-header .player-filter-buttons {
  grid-column: 1 / 3;
  display: flex;
  flex-direction: column;
  margin-top: 5px;
}

.player-header .btn-group + .btn-group {
  margin-top: 8px;
}
