@import 'styles/colors.scss';

.App {
  margin-top: 20px;
}

#root {
  background-color: $color-primary-dark;
}

a,
p,
h1,
h2,
h3,
h4,
li,
.panel-title {
  font-family: sans-serif;
  color: $color-text-light;
  margin: 0;
}

a {
  text-decoration: underline;
}

a:hover {
  color: $color-primary-text-highlight;
}

.form-control {
  border: none;
}

// Hide spinners on number inputs
input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type='number'] {
  -moz-appearance: textfield;
}
